@media screen and (max-width: 1000px){
    .investsData {
        margin-right: 15px;
    }
}
@media screen and (max-width: 900px){
    .investsItems{
        display: block;
    }
    .investsBlock{
        width: 66%;
        margin: 30px auto;
    }
}
@media screen and (max-width: 650px){
    .investsBlock{
        width: 85%;
        margin: 30px auto;
        padding: 40px 0 40px 10px;
    }
}
@media screen and (max-width: 565px){
    .investsButton button {
        font-weight: 600;
        font-size: 14px;
    }
    .investsBlock{
        width: 91%;
    }
    .investsTitle {
        width: 100%;
        display: flex;
        padding: 0;
    }
    .investsTitle h1{
        font-size: 14px;
    }
    .investsCheckIcon{
        display: none;
    }
    .investsParameters {
        padding: 0 0 32px 0;
        font-size: 12px;
        font-weight: 600;
    }
    .investsText p {
        font-size: 12px;
    }
    .investsEvents .investsLocation{
        display: none;
    }
}