@media screen and (max-width: 650px){
    .eventTitleCard h1 {
        font-size: 14px;
    }
    .eventParameters {
        display: flex;
        font-size: 13px;
    }
}
@media screen and (max-width: 420px){
    .eventParameters {
        font-size: 13px;
    }
    .eventTime:last-child {
        margin-left: 15px;
    }
}