.eventItemContainer{
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.eventItems{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.eventItemCard{
    margin: 30px 0;
    width: 45%;

    background: #fff;
    border: 0.5px solid #949CB3;
    border-radius: 5px;
}
.eventItemCard.itemActive{
    border: 5px solid red;
}
.eventItemImg{
    width: 100%;
}
.eventItemTitleCard{
    padding: 15px 20px;
}
.eventItemTitleCard h1{
    margin: 0;

    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
}
.eventItemParameters{
    margin-top: 23px;

    color: #334059;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
}
.eventItemParameters p {
    margin: 14px 0 14px 3px;
}
.eventItemTime:last-child{
    margin-left: 50px;
}
.eventItemIcon{
    vertical-align: sub;
    margin-right: 5px;
}
.eventItemParameters span{
    margin-left: 5px;

    text-decoration: underline;
}
.eventItemCountry{
    margin: 0 !important;
    text-decoration: none !important;
}
.icon::before{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}