.blogPageTitle{
    background: #F6F6F6;
}
.blogPageDesc{
    max-width: 1150px;
    margin: 0 auto;
    padding: 40px 20px;
}
.blogPageDesc h1{
    margin: 0 0 15px 0;
}
.blogPageDesc p{
    width: 42%;
    font-size: 18px;
    font-weight: 400;
}
.blogPageContainer{
    max-width: 1150px;
    margin: 0 auto;
}
.blogPageContent{
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    margin: 30px auto;
}
.blogPageCard{
    width: 30%;
    margin: 15px auto;

    border: 0.5px solid #949CB3;
    border-radius: 5px;
    cursor: pointer;

    background-color: #fff;
}
.blogPageCard.blogActive{
    border: 4px solid #949CB3;
    border-radius: 5px;
}
.blogPageImg img{
    width: 100%;
}
.blogPageText{
    padding: 15px 20px;
}
.blogPageText p{
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;

    color: #334059;
}
.blogPageText h1{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    text-transform: uppercase;
}