@media screen and (max-width: 700px){
    .blogPageDesc p {
        width: 80%;
    }
    .blogPageCard {
        width: 48%;
    }
    .blogPageText h1 {
        font-size: 16px;
    }
}
@media screen and (max-width: 450px){
    .blogPageDesc p {
        width: 80%;
        font-size: 14px;
    }
    .blogPageCard {
        width: 95%;
    }
}