.registerUserCons{
    max-width: 1200px;
    margin: 150px auto 50px auto;
}
.registerUserConsContainer{
    width: 60%;
    margin: 0 auto;
}
.registerUserConsItem{
    width: 65%;
    margin: 0 auto;
    padding: 60px;

    border: 1px solid #7C7C7C;
    border-radius: 10px;
}
.registerUserConsItem h1{
    margin: 5px 0;

    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
}
.registerUserConsItem input{
    width: 100%;
    height: 34px;

    border: 0.5px solid #7C7C7C;
    border-radius: 5px;
    outline: none;
}
.registerUserConsItem input::placeholder{
    padding: 10px;
    font-weight: normal;
    font-size: 13px;
    line-height: 120%;

    color: #7C7C7C;
}
.registerInputOne select{
    width: 102%;
    height: 38px;

    border: 0.5px solid #7C7C7C;
    background-color: #FFF;
    border-radius: 5px;
    outline: none;
    color: #7C7C7C;
}
.registerUserInfo{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
.registerUserInfo h1{
    font-family: "SF UI Display Medium";
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
}
.registerInputOne{
    width: 47%;
}
.registerInputTwo{
    width: 47%;
}
.registerUserConsTitle{
    width: 70%;
    margin-bottom: 20px;
}
.registerUserConsTitle h1{
    font-weight: Semibold !important;
    font-size: 24px !important;
    line-height: 120% !important;
}
.registerUserConsItem span{
    color: red;
}
.registerUserConsItem h1{
    font-family: "SF UI Display Medium";
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
}
.registerEmailCons{
    margin: 20px 0;
}
.registerEmail{
    width: 100%;
}
.registerConsPassword{
    display: flex;
    justify-content: space-between;
}
.registerPasswordOne{
    width: 47%;
}
.registerPasswordTwo{
    width: 47%;
}
.registerUserConsItem select{
    width: 102%;
    height: 38px;

    border: 0.5px solid #7C7C7C;
    background-color: #FFF;
    border-radius: 5px;
    outline: none;
    color: #7C7C7C;
}
.registerConsUserBorn{
    margin-top: 20px;
}
.userConsBorn{
    width: 102%;
    display: flex;
    justify-content: space-between;
}
.userConsBorn input{
    width: 30%;
}
.userConsBorn
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.userConsBorn select{
    width: 30%;
}
.userConsGender {
    margin-top: 20px;
}
.registerUserConsLocation{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.registerLocationOne{
    width: 47%;
}
.registerLocationTwo{
    width: 47%;
}
.registerUserConsContact{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.registerContactOne{
    width: 47%;
}
.registerContactTwo{
    width: 47%;
}
.registerConsSocialLink{
    margin-top: 20px;
}
.registerButtons{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.registerLogin{
    background: none;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;

    color: #0165DE;
}
.registerNext{
    padding: 7px 22px;

    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    background-color: #0165DE;
    border: none;
    border-radius: 5px;
}