@media screen and (max-width: 900px){
    .searchHeading {
        width: 95%;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .countDataBase {
        width: 95%;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .cardDataBase {
        width: 45%;
        margin-top: 15px;
    }
}
@media screen and (max-width: 500px){
    .searchHeading {
        display: block;
    }
    .commSearch {
        width: 100%;
    }
    .locationSearch {
        margin-top: 20px;
        width: 100%;
    }
    .headingParametersSearch {
        width: 60%;
        float: right;
    }
    .cardDataBase {
        width: 100%;
        margin-top: 15px;
    }
}