.role{
    max-width: 1200px;
    margin: 0 auto;
}
.roleChooser{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.roleTitle{
    margin-top: 70px;

    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
}
.roleMSB{
    width: 35%;
    margin: 50px 0 60px 0;
    padding: 30px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #fff;
}
.roleMSB:hover{
    border: 1px solid #949CB3;
}
.roleCons{
    width: 35%;
    margin: 50px 0 60px 0;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
}
.roleCons:hover{
    border: 1px solid #949CB3;
}
.roleTitleText h1{
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
}
.roleText{
    width: 70%;
    margin: 0 auto;
}
.roleText p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #334059;
}
.roleHelp{
    margin: 60px 0;
    text-align: center;
}
.roleHelpText{
    width: 50%;
    margin: 0 auto;
    padding: 20px 39px 20px 45px;
    border: 0.5px solid #949CB3;
    border-radius: 5px;
}
.roleHelpText span{
    color: #0165DE;
    cursor: pointer;
}