.forum{
    max-width: 1160px;
    margin: 0 auto;
}
.forum h1{
    margin: 80px 0 35px 0;

    font-family: "SF UI Display Semibold";
    font-weight: normal;
    font-size: 36px;
    line-height: 120%;
}
.forumContainer{
    display: flex;
    margin: 0 10px;
    justify-content: space-between;
}
.forumCalc{
    width: 30%;
    height: 565px;
    margin-top: 85px;
    padding: 0 25px;
    background-image: url("./../../../../Images/calcBackground.png");
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
}
.forumCalc img{
    width: 54%;
    position: absolute;
    bottom: 0;
    right: 25px;
}

.forumCalcTitle{
    margin-top: 78px;
}
.forumCalcTitle h1{
    margin: 0;
    text-align: left;
    font-weight: bold;
    font-size: 52px;
    line-height: 120%;
}
.forumCalcTitle p{
    margin: 0;
    font-family: "SF UI Display Medium";
    font-weight: normal;
    font-size: 22px;
    line-height: 120%;
}
.forumCalcTitle p:last-child{
    margin: 30px 0 20px 0;
}
.forumButtonCalc{
    display: flex;
    justify-content: space-between;
}
.forumButtonCalc button{
    width: 45%;
    padding: 15px 40px;

    border: none;
    border-radius: 15px;
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
}
.forumButtonCalc button:hover{
    color: #fff;
    background: #0165DE;
}
.forumText{
    width: 55%;
    margin-bottom: 83px;
}
.forumCatalog{
    width: 80%;
    margin: 30px 0;
}
.forumTitle {
    width: 45%;

    margin: 10px 0;
    padding: 5px 20px;
    line-height: 140%;
    border: 0.5px solid #0165DE;
}
.forumTitle h1{
    margin: 0;

    font-weight: 600;
    font-size: 18px;
    text-align: left;
}
.forumCatalog p{
    font-family: "SF UI Display Light";
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;

    color: #334059;
}