@font-face {
  font-family: 'San Francisco Pro';
  src: local('San Francisco Pro Display Thin'), local('San-Francisco-Pro-Display-Thin'),
  url('./fonts/SFProDisplay-Thin.woff2') format('woff2'),
  url('./fonts/SFProDisplay-Thin.woff') format('woff'),
  url('./fonts/SFProDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'San Francisco Pro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
