@media screen and (max-width: 800px){
    .registerConsContainer {
        width: 90%;
    }
}
@media screen and (max-width: 550px){
    .registerConsItem {
        width: 70%;
        padding: 30px;
    }
}
@media screen and (max-width: 450px){
    .registerConsItem {
        width: 90%;
        padding: 10px;
        border: none;
    }
}